<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="youtube-tab" data-toggle="tab" href="#youtube" role="tab" aria-controls="youtube" aria-selected="true">Youtube</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">Local</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">
    <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/{{videoId}}?showinfo=0&amp;rel=0"></iframe>
  </div>
{{#with video}}
  <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">
    <video controls>
      <source src="{{src}}" type="video/mp4">

      {{#each subtitles}}
      <track default="{{this.default}}" kind="subtitles" srclang="{{this.srclang}}" src="{{this.src}}" label="{{this.srclang}}">
      {{/each}}
    </video>
  </div>
</div>
{{/with}}
